<html>
<head>
	<title>Boston Film Calendar Admin Page</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/static/css/admin.css" />
	</head>
<body>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
					 
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						 <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
					</button> <a class="navbar-brand" href="#">Boston Film Calendar</a>
				</div>
				
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active">
							<a href="#">Events</a>
						</li>
						<li>
							<a href="/admin/orgs">Orgs</a>
						</li>
					</ul>
					<!--
					<ul class="nav navbar-nav">
						<li class="active">
							<a href="#">Link</a>
						</li>
						<li>
							<a href="#">Link</a>
						</li>
						<li class="dropdown">
							 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li>
									<a href="#">Action</a>
								</li>
								<li>
									<a href="#">Another action</a>
								</li>
								<li>
									<a href="#">Something else here</a>
								</li>
								<li class="divider">
								</li>
								<li>
									<a href="#">Separated link</a>
								</li>
								<li class="divider">
								</li>
								<li>
									<a href="#">One more separated link</a>
								</li>
							</ul>
						</li>
					</ul>
					<form class="navbar-form navbar-left" role="search">
						<div class="form-group">
							<input type="text" class="form-control" />
						</div> 
						<button type="submit" class="btn btn-default">
							Submit
						</button>
					</form>
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="#">Link</a>
						</li>
						<li class="dropdown">
							 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li>
									<a href="#">Action</a>
								</li>
								<li>
									<a href="#">Another action</a>
								</li>
								<li>
									<a href="#">Something else here</a>
								</li>
								<li class="divider">
								</li>
								<li>
									<a href="#">Separated link</a>
								</li>
							</ul>
						</li>
					</ul>
					-->
				</div>
				
			</nav>
			<div class="row">
				<button id="newEvent" class="btn btn-info">+ New Event</button>
			</div>
			<div role="form" class="well" id="eventForm">
				<!--
				org : obj.orgname,
				org_id : obj.id + '',
				title : obj.summary,
				url : found[0] || '',
				description : obj.summary,
				location : obj.location,
				category : 'screening', 
				mute : 0,
				start_date : +new Date(obj.start),
				end_date : +new Date(obj.end)
			-->
				<div class="form-group">
					<label for="inputTitle">
						Title
					</label>
					<input type="text" class="form-control" id="inputTitle" />
				</div>
				<div class="form-group">
					<label for="inputStart">
						Start
					</label>
					<div class="form-control" id="inputStart"></div>
				</div>
				<div class="form-group">
					<label for="inputEnd">
						End
					</label>
					<div class="form-control" id="inputEnd"></div>
				</div>

				<div class="form-group">
					<label for="inputLocation">
						Location
					</label>
					<input type="text" class="form-control" id="inputLocation" />
				</div>
				<div class="form-group">
					<label for="inputUrl">
						URL
					</label>
					<input type="text" class="form-control" id="inputUrl" />
				</div>
				<div class="form-group">
					<label for="inputDescription">
						Description
					</label>
					<textarea class="form-control" id="inputDescription"></textarea>
				</div>
				<div class="form-group">
					<label for="inputOrg">
						Org
					</label>
					<select class="form-control" id="inputOrg">
						<option> - Select Org - </option>
					</select>
				</div>
				<div class="form-group">
					<label for="inputCategory">
						Category
					</label>
					<select class="form-control" id="inputCategory">
						<option> - Select Category - </option>
						<option value="screening">Screening</option>
						<option value="meeting">Meeting</option>
						<option value="workshop">Workshop</option>
						<option value="other">Other</option>
					</select>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" id="inputMute" /> <label for="inputMute">Published</label>
					</label>
				</div> 
				<div class="form-group" id="formButtons">
					<button type="submit" id="Save" class="btn btn-success">
						Save
					</button>
					<button type="submit" id="Cancel" class="btn btn-warning">
						Cancel
					</button>
					<button type="submit" id="Delete" class="btn btn-danger">
						Delete
					</button>
				</div>
			</div>
			<hr />
			<div class="row">
				<div class="col-md-4">
					 
					<button type="button" class="btn btn-default" id="prev">
						< Prev
					</button>
				</div>
				<div class="col-md-4" id="tableMonthWrapper">
					<h3 id="tableMonth">
						August, 2016
					</h3>
				</div>
				<div class="col-md-4">
					 
					<button type="button" class="btn btn-default" id="next">
						Next >
					</button>
				</div>
			</div>
			<table class="table" id="events">
				<thead>
					<tr>
						<th>
							Day
						</th>
						<th>
							Event
						</th>
						<th>
							Time
						</th>
						<th>
							Category
						</th>
						<th>
							Org
						</th>
						<th>
							Published
						</th>
					</tr>
				</thead>
				<tbody>

				</tbody>
			</table>
		</div>
	</div>
</div>
<footer>
	<small>Boston Film Calendar <span class="copyleft">&copy;</span> <span id="year"></span></small>
</footer>
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script   src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"   integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="   crossorigin="anonymous"></script> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="/static/js/moment.js"></script>
<script src="/static/js/admin.js"></script>

</body>
</html>