#tableMonthWrapper, footer{
	text-align: center;
}

footer{
	padding: 20px 0 40px 0;
}

#tableMonth{
	line-height: 0;
}

#events{
	margin-top: 55px;
}

#prev{

}
#next{
	float: right;
}

.copyleft {
  display:inline-block;
  transform: rotate(180deg);
}

td.title{
	color: blue;
	cursor: pointer;
}
td.title:hover{
	text-decoration: underline;
}